## Import Cassandra
Create a Cassandra Session and connect to the target keyspace

In [19]:
from cassandra.cluster import Cluster
cluster = Cluster()
session = cluster.connect('carpooler')

##### Hurray!!! We are done with the setup. Now we could start running our queries.

In [20]:
# Run a basic select all query
result = session.execute("select * from rides")

In [21]:
# Checking the type of the result object
type(result)

cassandra.cluster.ResultSet

In [22]:
# What columns do we have in our result object??
result.column_names

[u'ride_id', u'price', u'rider_name', u'sharer_name', u'surge']

#### Now, lets see what our query has returned

In [23]:
import pprint
pprint.pprint(result.current_rows)

[Row(ride_id=1, price=17.549999237060547, rider_name=u'John Macon', sharer_name=u'John Wick', surge=u'X'),
 Row(ride_id=2, price=31.75, rider_name=u'Victor Von Doom', sharer_name=u'Wolf Logan', surge=u'XX'),
 Row(ride_id=4, price=12.40999984741211, rider_name=u'Norah Jones', sharer_name=u'Kendra Sheen', surge=u'X'),
 Row(ride_id=6, price=12.0, rider_name=u'Mark Chiachiari', sharer_name=u'Nickolas Madre', surge=u'X')]

### Try All CRUD Operations

#### Let's INSERT a new row into our Rides Table

In [24]:
session.execute("""insert into rides (ride_id, price, rider_name, sharer_name, surge) 
                values (7, 8.00, 'John Hannigan', 'Lee Roy', 'XX')""")

In [25]:
#### Lets create a function that queries the table for us to make our lives easier
def get_all_rows():
    result = session.execute("select * from rides")
    pprint.pprint(result.current_rows)
get_all_rows()

[Row(ride_id=1, price=17.549999237060547, rider_name=u'John Macon', sharer_name=u'John Wick', surge=u'X'),
 Row(ride_id=2, price=31.75, rider_name=u'Victor Von Doom', sharer_name=u'Wolf Logan', surge=u'XX'),
 Row(ride_id=4, price=12.40999984741211, rider_name=u'Norah Jones', sharer_name=u'Kendra Sheen', surge=u'X'),
 Row(ride_id=7, price=8.0, rider_name=u'John Hannigan', sharer_name=u'Lee Roy', surge=u'XX'),
 Row(ride_id=6, price=12.0, rider_name=u'Mark Chiachiari', sharer_name=u'Nickolas Madre', surge=u'X')]

In [12]:
result = session.execute("select * from rides where ride_id=7")
result.current_rows

[Row(ride_id=7, price=8.0, rider_name=u'John Hannigan', sharer_name=u'Lee Roy', surge=u'XX')]

#### UPDATE a Record

In [26]:
# Change the surge for our latest ride from XX to X
update = session.execute("update rides set surge = 'X' where ride_id =7")

In [27]:
# Check the result after update
result = session.execute("select * from rides where ride_id=7")
result.current_rows

[Row(ride_id=7, price=8.0, rider_name=u'John Hannigan', sharer_name=u'Lee Roy', surge=u'X')]

#### DELETE a Record

In [28]:
session.execute("delete from rides where ride_id = 7")

In [29]:
# Now lets check what our table contains
get_all_rows()

[Row(ride_id=1, price=17.549999237060547, rider_name=u'John Macon', sharer_name=u'John Wick', surge=u'X'),
 Row(ride_id=2, price=31.75, rider_name=u'Victor Von Doom', sharer_name=u'Wolf Logan', surge=u'XX'),
 Row(ride_id=4, price=12.40999984741211, rider_name=u'Norah Jones', sharer_name=u'Kendra Sheen', surge=u'X'),
 Row(ride_id=6, price=12.0, rider_name=u'Mark Chiachiari', sharer_name=u'Nickolas Madre', surge=u'X')]

In [30]:
# The row has been removed. But just to be sure about it, let's lookup that particular ride_id
result = session.execute("select * from rides where ride_id=7")
result.current_rows

[]

It is an empty result set and hence our delete has gone through.

In [18]:
get_all_rows()

[Row(ride_id=1, price=17.549999237060547, rider_name=u'John Macon', sharer_name=u'John Wick', surge=u'X'),
 Row(ride_id=2, price=31.75, rider_name=u'Victor Von Doom', sharer_name=u'Wolf Logan', surge=u'XX'),
 Row(ride_id=4, price=12.40999984741211, rider_name=u'Norah Jones', sharer_name=u'Kendra Sheen', surge=u'X'),
 Row(ride_id=6, price=12.0, rider_name=u'Mark Chiachiari', sharer_name=u'Nickolas Madre', surge=u'X')]